<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Print First Last Name</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <img src="https://ih1.redbubble.net/image.4934023593.1872/st,small,507x507-pad,600x600,f8f8f8.jpg">
    <br>
    <form action="greet" method="post">
        {% for message in get_flashed_messages() %}
             <li>{{ message }}</li>
         {% endfor %}
        <br>
        <input type="text" name="firstname_input">
        <br>
        <br>
        <input type="text" name="secondname_input">
        <br>
        <input type="submit" value="PRINT my name!!" id="greet">
    </form>
</body>
</html>